<div dnd-list="goods" dnd-drop="prepareItem(event, index, item)">
    <div class="row">
        <div class="col-sm-6 col-md-1">
            <h3>Bucket</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-1" ng-repeat="item in goods | orderBy: 'title'">
            <bucket-item item="item"></bucket-item>        
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-1">
            <p>
                Total: <span ng-bind="total | currency"></span>
            </p>
        </div>
    </div>
</div>