<div class="thumbnail">
    <div class="caption">
        <h3 ng-bind="item.title"></h3>
        <p><input type="number" min="1" step="1" class="form-control" ng-model="item.count" ng-change="countChange()" /></p>
        <p ng-bind="::item.price | currency"></p>
        <p>Sum: {{item.sum | currency}}</p>
        <p><a href="javascript:void(0);" class="btn btn-default" role="button" ng-click="deleteItem()">Delete</a></p>
    </div>
</div>
