<div class="row">
    <div class="col-sm-6 col-md-1" ng-repeat="item in goods | orderBy: 'title'" dnd-moved="deleteItem(item)" dnd-draggable="item" dnd-effect-allowed="move">
        <div class="thumbnail">
            <div class="caption">
                <h3 ng-bind="::item.title"></h3>
                <p ng-bind="::item.price | currency"></p>
            </div>
        </div>
    </div>
</div>